{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "ignore"
}

