@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.img-fluid {
  @apply h-auto max-w-full;
}
*,
**::after,
**::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Overpass', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  input {
    @apply border-none bg-none outline-none;
  }
}

